body {
    box-sizing: border-box;
    background-color: gray;
}

#start-button {
    font-size: 1.5em;
    opacity: 0;
}

#time-shower {
    font-size: 1.6em;
}

#time-shower span {
    color: white;
}

#type-area {
    font-size: 2em;
}

#results {
    font-size: 2.5em;
    text-align: center;
}
