body {
    box-sizing: border-box;
    background-color: grey;
}

#start-button {
    font-size: 1.5em;
    background-color: silver;
    opacity: 0;
    cursor: pointer;
}

#time-shower {
    font-size: 1.6em;
}

#time-shower span {
    color: white;
}

#type-area {
    font-size: 2em;
    border: 2px solid black;
    padding: 5px;
    opacity: 0;
}

#results {
    font-size: 2.5em;
    text-align: center;
}

#results sup {
    font-size: 0.5em;
}

#reload-div {
    text-align: center;
}

#reload {
    font-size: 1.7em;
    background-color: silver;
    opacity: 0;
    margin: 10px;
    cursor: pointer;
}
